body, main {
	display: flex;
}
body {
	flex-direction: column;
}
main {
	flex-direction: row;
	flex: auto;
}
article {
	flex: 2;
	overflow-y: auto;
	background: #466368;
  background: radial-gradient(#648880, #293f50);
}
aside {
	flex: 1;
	overflow-y: auto;
}
header {
	margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
  }
h1 {
	 background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
  }
h2, h3 {
	 background: #67b11c;
  background: linear-gradient(#72c41f, #5c9e19);
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px;
  }

footer a {
   color: #E63946;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer{
  background-color: #019743;
    padding: 15px 0;
    text-align: left;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
